# Environments
venv/
.venv/
.env

# Git & DVC
.git/
.gitignore
.github/

# Ignored from Raw Data (but keep dvc files!)
data/raw/*
!data/raw/*.dvc
!data/raw/netflix_large.csv

# Python Caches
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebooks
.ipynb_checkpoints
notebooks/
