# ============================================================
# DAGSHUB & DVC CONFIGURATION (FOR AUTOMATED BOOTSTRAP)
# ============================================================

# Tên đăng nhập DagsHub (Ví dụ: bich-le)
DAGSHUB_USER=bich-le

# Token của bạn (Lấy tại: DagsHub > Settings > Tokens)
DAGSHUB_TOKEN=42faca3ef5d1242b9f72c7f5be0f09e97acd4c82

# Sau khi điền, hãy copy file này thành file '.env' 
# và chạy lệnh: docker-compose up -d --build
