# =========================
# ENVIRONMENT & SYSTEM
# =========================
venv/
.env
__pycache__/
*.pyc
.DS_Store
Thumbs.db
*.log

# =========================
# DATA (DVC-managed)
# =========================
# Chặn toàn bộ nội dung trong các thư mục data
data/raw/*
data/processed/*
data/external/*

# NGOẠI LỆ: Cho phép Git theo dõi file .dvc và .gitkeep
!data/**/.gitkeep
!data/**/*.dvc
!*.dvc
!.dvcignore

# =========================
# ARTIFACTS (models, preprocessors)
# =========================
artifacts/*
!artifacts/**/.gitkeep

# =========================
# MODEL FILES & MLFLOW
# =========================
*.pkl
*.joblib
mlruns/
.ipynb_checkpoints/